.cover {
  background-image: url('/Background.png');
}

.h3{
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  padding-top: 80px;
  text-align: center;
}

.h1{
  font-size: 4rem;
  font-weight: 900;
  color: white;
  font-weight: 500;
  padding: 700;
  text-align: center;
  text-shadow: 0 7px 0 #A74435;
}

@media (max-width: 800px) {
  .cover{
    background-size: 220% auto;
  }
  .h1{
    font-size: 30px;
    text-shadow: 0 5px 0 #A74435;
  }
  .h3{
    font-size: 1.1rem;
    padding-top: 50px;
  }
}

.tabscontainer{
 display: flex;
 flex-direction: row;
 padding-top: 650px;
 justify-content: space-between;
 margin: 0 3rem;
 align-items: center;
 flex-wrap: wrap;
}

@media (max-width: 515px) {
  .tabscontainer{
    padding-top: 420px;
    justify-content: center;
  }
}

/* tried this for buttons, i wanted to give them a bottom margin and make them smaller on smaller screen sizes! */
/* doesn't work right now bc i couldn't get the styles to match */
.button {
  color: #D9D9D9;
  font-weight: 500;
  border-radius: 2rem;
  border: 3px solid #D9D9D9;
  min-width: 200px;
}

.button:hover {
  color: black;
  border: 3px solid black;
}